.p1{
    padding: 0px auto;
    background-color: #b0acac;
    width: 100%;
    height: 40px;
    line-height: 35px;
}

a{
    color: black;
    font-weight: bolder;
    font-size: 14px;
}

.menu{
    padding: auto;
    height: 100px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    line-height: 70px;
}

.menu-left{
    display: flex;
    justify-content: space-between;
}

.menu-center{
    margin-top: -95px;     
}

.menu-right{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: -40px;
    margin-top: -60px;
}

footer{
    height: 200px;
    width: 100%;
    list-style: none;
}

li{
    list-style: none;
}

